<!--section -about starts here-->
<div class="wrapper">
<section class="about">
    <div class="flex flex-center">
   
    <div class="col-1 push-right">
        <h2>Welcome to my personal space</h2>
        <p class="home-lead">...move ahead to know more</p>
       </div>
      </div>
</section>
    </div>
<!--section -about ends here-->

<!--section -youtube starts here-->
<section class="youtube zIndex2">
    <div class="flex flex-around">
   
    <div class="col-1 width50">
                <div class="video-strip "></div>
                <div class="flex-video"><iframe width="420" height="315" src="https://www.youtube.com/embed/89sacBIEq4g?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>
        </div>
                                         
    <div class="col-1 order-first outdented">
        <p  class="home-lead">...teaching everyone how to make websites on Youtube...</p>
        <a href="https://colorhunt.co/palette/110878" class="home-cta" >Watch on YouTube</a>
     </div>
      </div>
</section>
<!--section -youtube ends here-->

<!--section -mentoring starts here-->
<section class="mentoring">
    <div class="flex flex-center">
    <div class="col-1 bubblePosition">
        <ul class="faces">
            <li class="face img1" data-ng-click="showBubble()">
                <div class="bubble" >
                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <cite>Nathan Jacobs</cite>
                   </div>
            </li>
              <li class="face img2" data-ng-click="showBubble()">
                <div class=" bubble" >
                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <cite>Nathan Jacobs</cite>
                   </div>
            </li>
              <li class="face img3" data-ng-click="showBubble()">
                <div class=" bubble" >
                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <cite>Nathan Jacobs</cite>
                   </div>
            </li>
              <li class="face img4" data-ng-click="showBubble()">
                <div class=" bubble">
                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <cite>Nathan Jacobs</cite>
                   </div>
            </li>
            <li class="face img5" data-ng-click="showBubble()">
                <div class=" bubble">
                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <cite>Nathan Jacobs</cite>
                   </div>
            </li>
            <li class="face back-btn">
            </li>
           
           <!--<div ng-repeat="i in [1, 2, 3, 4,5] | limitTo : 5 ">
               <li class="face ">
                   <div class=" bubble" data-ng-click="mentoringBubbleClick();">
                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <cite>Nathan Jacobs</cite>
                   </div>
               </li>
            </div>-->
               
          
        </ul>
    </div>
    <div class="col-1"><p  class="home-lead">...mentoring people like you
        ...</p>
        <a href="https://colorhunt.co/palette/110878" class="home-cta scheduleTxt" >Schedule a call</a> </div>
      </div>
</section>


<!--section -mentoring ends here-->

<!--section -aricle starts here-->
<section class="articles zIndex2">
    <div class="flex flex-center">
      <div class="col-50">
          <div ng-repeat="i in articleList" class="aricle-wrap">
            <a href="" class="article-thumb " style=" background-image: url(images/articles/{{i.thumbnail}});">
                <div class="article-meta">
                    <div class="name">{{i.name}}</div>
                    <div class="date">{{i.date}}</div>
                </div>
              </a>
          </div>         
        </div> 
      <div class="col-50 flex flex-center order-first">
        <div class="col-1">
            <div class="desc-wrap">
             <p  class="home-lead">...Writing and designing articles...</p>
             <a href="https://colorhunt.co/palette/110878" class="home-cta cta-article" >See all articles
             </a>
            </div>
        </div>
        </div>
    
      
      </div>
</section>
<!--section -aricle ends here-->